/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* All of the types of each element */
body {
  background-color: #101820;
  color: #fee715;
  font-family: "Martian Mono", monospace;
}

/* For the header element */
header {
  margin: 1.5em;
}

/* For the unordered list inside of the header */
nav ul {
  display: flex;
  position: relative;
  bottom: 75px;
  list-style-type: none;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

/* for the list items within the header element */
nav li {
  display: inline-block;
  margin-left: 25px;
}

/* For all of the h1 elements used */
h1 {
  display: inline-block;
  font-size: 2em;
}
/* For all of the h2 elements used */
h2 {
  font-size: 3em;
  padding-left: 110px;
}
/* For all of the h3 elements used */
h3 {
  font-size: 3em;
  margin-left: 144px;
}

h5 {
  font-size: 2em;
  margin-left: 2%;
}

a {
  color: #54b3d6;
  transition: color 0.3s ease-in-out;
}

a:hover {
  text-decoration-line: underline;
  color: white;
}

figure {
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.project-image {
  width: 32.5vw;
  height: 25vh;
}

#about-me {
  display: flex;
  text-align: right;
  height: 25vh;
  width: 100vw;
  margin-bottom: 7vh;
}

#about-me img {
  display: flex;
  position: relative;
  margin-right: 5vw;
  width: 15vw;
  height: 30vh;
}

#about-me-text {
  display: flex;
  margin-right: 5vw;
  border-left: 5px solid black;
}

#projects {
  display: grid;
  gap: 2vh;
  grid-template-columns: 14.8vw 35vw 35vw;
  grid-template-rows: repeat(2, 1fr);
  text-align: right;
  width: 100vw;
  height: 90vh;
}

#projects h3 {
  grid-row: span 2;
}

#work {
  border-right: 5px solid black;
}

#project1 {
  margin-right: 5vw;
  padding-left: 5vw;
  width: 65vw;
  height: 55vh;
  grid-column: span 2;
}

#big-project-image {
  width: 65vw;
  height: 50vh;
}

#project2 {
  width: 34.5vw;
  height: 27vh;
}

#project3 {
  width: 34.5vw;
  height: 27vh;
}

#contact-me {
  margin-top: 10vh;
}

#contact-me ul {
  display: flex;
  position: relative;
  bottom: 75px;
  list-style-type: none;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

#contact-me li {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 1vh;
}

@media screen and (max-width: 992px) {
  header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: none;
    bottom: 0px;
  }
  & li {
    margin: 1%;
  }

  #projects a {
    font-size: 1em;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    text-align: center;
    justify-content: center;
    padding: 0px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    padding-bottom: 1vh;
    border-bottom: 5px solid black;
  }

  h3 {
    justify-content: center;
  }

  h5 {
    text-align: center;
  }

  #about-me-text {
    border: 0px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #work {
    border: 0px solid black;
    text-align: center;
    padding-top: 5vh;
  }

  #projects h3 {
    grid-row: span 1;
  }

  #contact-me {
    margin-top: 40vh;
    margin-bottom: 50px;
  }

  #contact-me ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: none;
    bottom: 0px;
  }
  & li {
    margin: 1%;
    margin-bottom: 1.5vh;
  }

  .project-image {
    width: 300px;
    height: 300px;
    object-fit: fill;
    max-width: fit-content;
    max-height: fit-content;
  }

  #projects {
    grid-template-columns: 0;
    grid-template-rows: 4fr;
  }

  #project1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: span 1;
    padding: 0px;
    width: 100vw;
    height: 480px;
  }

  #project2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100vw;
    height: 250px;
    margin-bottom: 10vh;
  }

  #project3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100vw;
    height: 250px;
  }

  #projects a {
    height: fit-content;
  }

  #big-project-image {
    width: 400px;
    height: 400px;
    object-fit: fill;
    max-width: fit-content;
  }

  #about-me {
    flex-direction: column;
  }
}
