/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* All of the types of each element */
body {
  background-color: #101820;
  color: #fee715;
  font-family: "Martian Mono", monospace;
}

/* For the header element */
header {
  margin: 1.5em;
}

/* For the unordered list inside of the header */
nav ul {
  display: flex;
  position: relative;
  bottom: 75px;
  list-style-type: none;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

/* for the list items within the header element */
nav li {
  display: inline-block;
  margin-left: 25px;
}

/* For all of the h1 elements used */
h1 {
  display: inline-block;
  font-size: 2em;
}
/* For all of the h2 elements used */
h2 {
  font-size: 3em;
  padding-left: 110px;
}
/* For all of the h3 elements used */
h3 {
  font-size: 3em;
  margin-left: 144px;
}
/* For all of the h5 elements */
h5 {
  font-size: 2em;
  margin-left: 2%;
}

/* These are for the link elements styling */
a {
  color: #54b3d6;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
  color: white;
}

/* Contains the background image below the header  */
figure {
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
  background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

/* Contains styling for the about me section of the webpage */
.project-image {
  width: 32.5vw;
  height: 25vh;
}

#about-me {
  display: flex;
  text-align: right;
  height: 25vh;
  width: 100vw;
  margin-bottom: 7vh;
}

#about-me img {
  display: flex;
  position: relative;
  margin-right: 5vw;
  width: 15vw;
  height: 30vh;
}

#about-me-text {
  display: flex;
  font-size: 1.2em;
  margin-right: 5vw;
  padding-left: 1vw;
  margin-bottom: 10vh;
  border-left: 5px solid black;
  text-align: center;
}

/* Container for the work section setting up a grid style for all of the elements to fit the page nicely */
#projects {
  display: grid;
  gap: 2vh;
  grid-template-columns: 14.8vw 35vw 35vw;
  grid-template-rows: repeat(2, 1fr);
  text-align: right;
  width: 100vw;
  height: 90vh;
}

#projects #project1 h4 {
  border-radius: 10%;
  border: 10px solid cyan;
  background-color: cyan;
  color: #101820;
  float: left;
  position: relative;
  top: 47.5vh;
}

#project2 h4 {
  border-radius: 10%;
  border: 10px solid cyan;
  background-color: cyan;
  color: #101820;
  float: left;
  position: relative;
  left: 2vw;
  top: 22.5vh;
}

#project3 h4 {
  border-radius: 10%;
  border: 10px solid cyan;
  background-color: cyan;
  color: #101820;
  float: left;
  position: relative;
  left: 2vw;
  top: 22.5vh;
}

#projects h3 {
  grid-row: span 2;
}

#work {
  border-right: 5px solid black;
}

#project1 {
  display: block;
  margin-right: 5vw;
  padding-left: 5vw;
  width: 65vw;
  height: 55vh;
  grid-column: span 2;
}

#big-project-image {
  width: 65vw;
  height: 50vh;
}

#project2 {
  display: block;
  width: 34.5vw;
  height: 27vh;
}

#project3 {
  display: block;
  width: 34.5vw;
  height: 27vh;
}

/* Styling the footer to fit nicely along the page and display everything clearly */

#contact-me {
  margin-top: 10vh;
}

#contact-me ul {
  display: flex;
  position: relative;
  bottom: 75px;
  list-style-type: none;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

#contact-me li {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 1vh;
}

/* media screen to convert certain flex rows to flex columns as well as certain font sizes to fit the screen better */

@media screen and (max-width: 992px) {
  header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: none;
    bottom: 0px;
  }
  & li {
    margin: 1%;
  }

  #projects a {
    font-size: 1em;
  }
}

/* Converts all elements to fit a mobile phone screen by reducing the amount of columns in grid templates and adjusting certain styling for flexboxes and text elements */
@media screen and (max-width: 600px) {
  /* Setting all h(n) elements to fit nicely on a mobile screen */
  h2 {
    text-align: center;
    justify-content: center;
    padding: 0px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    padding-bottom: 1vh;
    border-bottom: 5px solid black;
  }

  h3 {
    justify-content: center;
  }

  h5 {
    text-align: center;
  }

  /* Converting the about me section into a flex-direction column to fit nicely on the page as well as other styling */
  #about-me {
    margin-bottom: 80vh;
    flex-direction: column;
  }

  #about-me-text {
    border: 0px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
  }

  #about-me img {
    display: flex;
    position: relative;
    width: 42.5vw;
    height: 65vh;
    left: 28%;
  }

  /* Setting up the work section of the webpage to fit nicely on a mobile screen by setting the image sizes to be smaller as well as fixing certain sizing issues */
  .project-image {
    width: 300px;
    height: 300px;
    object-fit: fill;
    max-width: fit-content;
    max-height: fit-content;
  }

  #projects {
    grid-template-columns: 0;
    grid-template-rows: 4fr;
  }

  #project1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-column: span 1;
    padding: 0px;
    width: 100vw;
    height: 480px;
    border-top: 5px solid black;
  }

  #project2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100vw;
    height: 250px;
    margin-bottom: 10vh;
  }

  #project3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100vw;
    height: 250px;
  }

  #projects a {
    height: fit-content;
  }

  #big-project-image {
    width: 400px;
    height: 400px;
    object-fit: fill;
    max-width: fit-content;
  }

  #work {
    border: 0px solid black;
    text-align: center;
    padding-top: 1vh;
  }

  #projects #project1 h4 {
    border-radius: 10%;
    border: 10px solid cyan;
    background-color: cyan;
    color: #101820;
    float: left;
    position: relative;
    left: 1.5vw;
    top: 42.8vh;
  }

  #project2 h4 {
    border-radius: 10%;
    border: 10px solid cyan;
    background-color: cyan;
    color: #101820;
    float: left;
    position: relative;
    left: 2vw;
    top: 35.5vh;
  }

  #project3 h4 {
    border-radius: 10%;
    border: 10px solid cyan;
    background-color: cyan;
    color: #101820;
    float: left;
    position: relative;
    left: 2vw;
    top: 33.5vh;
  }

  #projects h3 {
    grid-row: span 1;
  }

  /* Making the footer display as a column instead of a row so it all fits nicely on the bottom of a mobile screen */
  #contact-me {
    margin-top: 70vh;
    margin-bottom: 50px;
  }

  #contact-me ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    float: none;
    bottom: 0px;
  }
  & li {
    margin: 1%;
    margin-bottom: 1.5vh;
  }
}
